<div class="file-container">
    <form [formGroup]="formfile" (ngSubmit)="onsubmit()">
    
        <div class="form-group">
            
            <div class="uploader">
            <label for="multifile">UPLOAD FILE:</label>
            <input (change)="getfile($event)" type="file" formControlName="multifile" accept="application/pdf,application/msword" multiple class="multifile" id="multifile">
            <button id="files" onclick="document.getElementById('multifile').click();"> Choose File</button>
            </div>
            <div *ngIf="f.multifile.touched && f.multifile.invalid" class="alert alert-danger"></div>
            <div *ngIf="f.multifile.errors && f.multifile.errors.required">Only Pdf/Word is required.</div>

            <div *ngIf="selectedfile1" class="display">
                <div  *ngFor="let a of tempstorage;let j=index" class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                {{a.file.name}}
                                <div class="progress" style="height: 15px;">
                                    <div class="progress-bar" role="progressbar" [style.width]="a.value + '%'"  aria-valuemin="0" aria-valuemax="100">{{a.value}}%</div>
                                  </div>
                            </div>
                            <div class="col-3">
                                <i class="fa fa-upload fa-2x" (click)="post(j)"></i>
                                <i class="fa fa-times-circle-o fa-2x" (click)="remove(j)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            <button type="submit" class="btn btn-primary mt-2" (click)="post(progress)">upload All</button>
            <button type="submit" class="btn btn-danger mt-2" (click)="remove(progress)">Remove All</button>
            </div>
        </div>
</form>
</div>
